<h2>Snippets</h2>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Code</th>
      <th>Owner</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td class="id">1</td>
      <td class="code">Some text here</td>
      <td class="owner"><a href="">Owner</a></td>
      <td class="links text-right">
        <a class="show-link btn btn-default btn-xs" href="/">Show</a>
        <a class="edit-link btn btn-default btn-xs" href="/">Edit</a>
        <form action="" class="link" method="post">
          <input id="_method" name="_method" type="hidden" value="delete">
          <input id="__anti-forgery-token" name="__anti-forgery-token" type="hidden" value="">
          <button class="btn btn-danger btn-xs" type="submit">Delete</button>
      </td>
    </tr>

  </tbody>
</table>

